{% extends "base/base.html" %}

{% block title %}LISTA TAREAS{% endblock title %}

{% block content %}
    <a href="{% url 'core:create_task' %}" class="btn btn-outline-success form-control">Nueva Tarea</a>
    <table class="table table-striped">
        <thead>
            <th>Nombre Usuario </th>
            <th>Descripcion</th>
            <th>Tiempo</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% comment %} {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.timestamp }}</td>
                    <td><a href="{% url 'core:detail_task' task.pk %}" class="btn btn-outline-info">Detalles</a></td>
                    <td><a href="{% url 'core:update_task' task.pk %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td><a href="{% url 'core:delete_task' task.pk %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %} {% endcomment %}
        </tbody>
    </table>
{% endblock content %}ion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Status Data
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is the grantgoal state: <strong>{{ grantgoal.state }}</strong> and  It is the grantgoal status: {{ grantgoal.status }} and it is the grantgoal priority:  <code>{{ grantgoal.priority }}</code>.
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'core:list_task' %}">Return</a>
{% endblock content %}